
module httpd_t 1.0;

require {
	type postgresql_port_t;
	type zabbix_var_run_t;
	type httpd_t;
	type zabbix_t;
	class sock_file create;
	class tcp_socket name_connect;
}

#============= httpd_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#     httpd_can_network_connect, httpd_can_network_connect_db
allow httpd_t postgresql_port_t:tcp_socket name_connect;

#============= zabbix_t ==============
allow zabbix_t zabbix_var_run_t:sock_file create;
